<script src="https://www.w3schools.com/lib/w3.js"></script>
<script></script>
<footer class="w3-light-grey w3-text-black">
    <div class="w3-container max-footer-size">
      <div class="row" style="padding: 20px;">
        <div class="w3-col l6 md4 sm12">
          <h1>YourStore</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor aspernatur inventore beatae nostrum
          </p>
        </div>
        <div class="w3-col l3 md4 sm12" style="padding:13px;">
          <h3>Links</h3>
          link <br>
          link <br>
          link
        </div>
        <div class="w3-col l3 md4 sm12" style="padding:13px;">
          <h3>Links</h3>
          link <br>
          link <br>
          link
        </div>
      </div>
    </div>
</footer>