<!DOCTYPE html>
<html>
<!-- header -->
<%- include('layouts/header') -%>
<!-- header -->
<body>
<!-- navbar -->
<%- include('layouts/navbar') -%>
<!-- navbar -->

<div class="w3-container max-card-size" style="margin-bottom: 60px;">
    <h1>About Your Store</h1>
    <div class="row">
        <h1 class="title-1">YourStore</h1>
        <div class="w3-col l6 md6 sm12">
            <p class="text">
                It's really what you make of it. It's built for you and literally by you.
                Got something you want to see here? Request it. Need something that you can't
                find anywhere else? Let's get it!
            </p>
            <a href="mailto:#!" style="border-radius: 5px;" class="w3-button w3-black w3-hover-blue-gray">Message Us</a>
        </div>
        <div class="w3-col w3-text-white l6 md6 sm12">
            <img src="https://images.unsplash.com/photo-1573855619003-97b4799dcd8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                 class="img-fluid"
                 alt="img" />
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>

</body>
</html>
