<!DOCTYPE html>
<html>
<!-- header -->
<%- include('layouts/header') -%>
<!-- header -->
<body>
<!-- navbar -->
<%- include('layouts/navbar') -%>
<!-- navbar -->

<div class="w3-container max-card-size">
    <div class="row">
        <div class="w3-col w3-text-black l12 md12 sm12">
            <h1>Your Built Store</h1>

            <div>
                <div id="my-store-49063210"></div>
                <div>
                    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?49063210&data_platform=code&data_date=2022-05-10" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-49063210");</script>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('layouts/footer') -%>

</body>
</html>
